html, body {
  margin: 0;
  height: 100%;
  background-color: rgb(44, 123, 226);
  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,h2 {
  text-align: center;
  color: #fff;
}

.wrapper {
  display: flex;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.todo-title {
  display: flex;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.add-todo-wrapper,
.change-todo-title {
  display: flex;
  width: 500px;
  min-height: 40px;
  align-items: center;
  border: 1px solid rgb(204, 236, 58);
  background-color: darkorange;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  border-radius: 15px;
  padding: 10px;
}


.input-wrapper {
  width: 80%;
}

.input-wrapper input {
  border-radius: 10px;
  padding: 10px;
  width: 100%;
  height: 30px;
  border: 1px solid rgb(204, 236, 58);
  text-align: center;
  letter-spacing: 0.2rem;
}


.button-wrapper {
  width: 20%;
  display: flex;
  justify-content: flex-end;
}

.button-wrapper button {
  width: 80%;
  outline: none;
  border: none;
  height: 25px;
  cursor: pointer;
  border-radius: 10px;
  font-weight:bold;
  background: #0087cc;
  box-shadow: 0 4px 0 #006599;
  color: #fff;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  transition: all .1s linear;
}

.button-wrapper button:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}

.back-wrapper {
  margin-top: 20px;;
  width: 20%;
  display: flex;
  justify-content: flex-end;
}


.back-wrapper button {
  width: 80%;
  outline: none;
  border: none;
  height: 25px;
  cursor: pointer;
  border-radius: 10px;
  font-weight:bold;
  background: darkorange;
  box-shadow: 0 4px 0 rgb(194, 118, 25);
  color: #fff;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  transition: all .1s linear;
}

.back-wrapper button:active {
  box-shadow: 0 2px 0 rgb(194, 118, 25);
  transform: translateY(3px);
}

.todo-item {
  display: flex;
  width: 500px;
  min-height: 50px;
  border: 1px solid rgb(204, 236, 58);
  border-radius: 15px;
  margin-bottom: 15px;
  padding: 10px;
  background-color: darkorange;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  opacity: 1;
}

.todo-item.checked {
  background-color: darkgray;
  opacity: 0,5;
  transition: all 1s cubic-bezier(.36,-0.64,.34,1.76);
}

.todo-item.deletion {
  opacity: 0;
  transform: rotateY(-90deg);
  transition: all 0.5s cubic-bezier(.36,-0.64,.34,1.76);
}

.title {
  width: 80%;
  display: flex;
  align-items: center;
  color: #fff;
  cursor: pointer;
}

.buttons {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.buttons button {
  outline: none;
  border: none;
  background-color: inherit;
  color: #fff;
  cursor: pointer;
  height: 25px;
  border-radius: 15px;

  font: inherit;
  margin: 0;
  outline: 0;
  transition: all .1s linear;
}

.icon {
  width: 15px;
  height: 15px;
}

.buttons button:active {
  box-shadow: 0 3px 0 #770f0f;
  transform: translateY(3px);
}

@keyframes opacity {
  form {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}


